<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>745219567432-k2upbrfs5atf2dhct7nelhs83s0rkrp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745219567432-k2upbrfs5atf2dhct7nelhs83s0rkrp7</string>
	<key>API_KEY</key>
	<string>AIzaSyDKKVr__nDEUj7hO2mt1AwKE-g28YLiYJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>745219567432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BrennanLinse.DevChat</string>
	<key>PROJECT_ID</key>
	<string>devchat-b86f8</string>
	<key>STORAGE_BUCKET</key>
	<string>devchat-b86f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745219567432:ios:125d535d81347e15</string>
	<key>DATABASE_URL</key>
	<string>https://devchat-b86f8.firebaseio.com</string>
</dict>
</plist>